*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}


/* Slider section start */

.banner
{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider
{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.slider img
{
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.overlay
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    position: absolute;
}

/* Navbar section start */

.navbar
{
    width: 85%;
    display: flex;
    align-items: center;
    margin: 35px auto;
    /* background: linear-gradient(rgba(255, 255, 255, 0.61),rgba(236, 231, 231, 0.637)); */
}

.logo
{
    flex-basis: 15%;
}

.logo img
{
    width: 120px;
    cursor: pointer;
}

.menu
{
    flex: 1;
    align-items: center;
    text-align: right;
}

.menu ul
{
    list-style-type: none;
}

.menu ul li
{
    display: inline;
    padding: 10px;
}

.menu ul li a
{
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover
{
  color: #F79D2B;
}

/* Navbar section ned */


/* Content section start */

.line
{
    position: absolute;
    width: 8px;
    height: 130px;
    left: 720px;
    top: 230px;
    background: #F79D2B;
}

.main_content
{
    width: 60%;
    margin: 160px;
    margin-left: 500px;
    text-align: end;
    color: #fff;
}

.main_content h1
{
    font-size: 70px;
}

.main_content h3
{
    width: 80%;
    font-size: 70px;
    margin-left: 100px;
}

.services
{
    position: absolute;
      width: 677px;
      height: 50px;
      left: 740px;
      top: 170px;
    
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 44px;
    
      color: #FFFFFF;
}

.smallContent
{
  
position: absolute;
width: 789px;
height: 41px;
left: 750px;
top: 400px;

font-family: 'Inter';
font-style: italic;
font-weight: 200;
font-size: 20px;
line-height: 40px;

color: #FFFFFF;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 0 750px 25px;
    font-weight: bold;
    border: 2px solid #F79D2B;
    color: #fff;
    background: #F79D2B;
    cursor: pointer;
}

button:hover{
    background: transparent;
    border: 2px solid #fff;
}

/* Content section end */


/* Slider section end */



.our_experience_content
{
  height: 730px;
  width: 40%;
  float: left;
}

.our_experience_content h3
{
font-family: 'Inter';
margin-top: 20px;
margin-left: 50px;
font-style: italic;
font-weight: 300;
font-size: 20px;
line-height: 40px;
color: #747D7D;
}

.our_experience_content h1
{
width: 675px;
height: 227px;
margin-left: 50px;
/* margin-top: 80px; */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 50px;

color: #1A2940;
}

.our_experience_content .para_1 p
{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 39px;
margin-left: 50px;
color: #747D7D;
}
.our_experience_content .para_2 p
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  margin-left: 50px;
  margin-top: 20px;
  color: #747D7D;
}

.our_experience_img
{
  float: right;
  width: 55%;
  background-size: cover;
}

/* OUr experience section end */




/* Count Down section start */
.counter_section
{
  height: 200px;
  width: 100%;
  display: grid;
}

.row
{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.colom
{
    flex-basis: 22%;
    text-align: center;
    color: #555;
}

.counter-box
{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px -4px #66676c;
}

.counter-box h2,span
{
    display: inline-block;
    margin: 15px 0;
    font-size: 50px;
    color: #000;
}

.colom .counter-box .fa-lg
{
    font-size: 50px;
    color: #F79D2B;
}

/* Count Down section end */


/* Services Categories & Skills sectioon start */

.categories
{
    height: 505px;
    width: 100%;
    background: url(/img/pattern.jpg);
}

.categories h3
{
    text-align: center;
    color: #747D7D;
    font-size: 30px;
    font-style: italic;
}

.categories h1
{
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    margin-top: 20px;
}

.categories p
{
    color: #747D7D;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}


.skill
{
    margin-top: 60px;
}

/* Container needed to position the overlay. Adjust the width as needed */
.reparing {
    position: relative;
    width: 20%;
    margin-left: 55px;
    float: left;
    padding: 0;

  }
  
  /* Make the image to responsive */
  .image {
    width: 100%;
    height: auto;
  }

  .reparing .fa-beat
  {
    margin-top: 50px;
    margin-left: 110px;
    font-size: 50px;
    color: #F79D2B;
  }
  

  .reparing h3
  {
    color: #000;
    margin-top: 20px;
  }
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .reparing_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A2940;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  }
  
  /* When you mouse over the container, the overlay text will "zoom" in display */
  .reparing:hover .reparing_text {
    transform: scale(1);
  }
  
  /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
  .text {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text:hover
  {
    color: #F79D2B;
  }

  .reparing_text p
  {
    margin-top: 150px;
  }

/* Services Categories & Skills sectioon end */



/* Skill Bar section start */

/* .skill_content
{
  height: 230px;
  width: 100%;
  background-color: #333;
  margin-top: 200px;
}

.skill-bar
{
    width: 500px;
    margin: 60px auto;
    color: #fff;
}

.skill-bar li
{
    margin: 20px 0;
}

.bar
{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span
{
  height: 2px;
  background: #2187e7b3;
  float: left;
}

.html
{
    width: 75%;
    animation: html 2s;
}
.css
{
    width: 85%;
    animation: css 2s;
}
.js
{
    width: 55%;
    animation: js 2s;
}
.rjs
{
    width: 25%;
    animation: rjs 2s;
}

@keyframes html
{
    0%
    {
      width: 0%;
    }
    100%
    {
      width: 75%;
    }
}


@keyframes css
{
    0%
    {
      width: 0%;
    }
    100%
    {
      width: 85%;
    }
}
@keyframes js
{
    0%
    {
      width: 0%;
    }
    100%
    {
      width: 55%;
    }
}
@keyframes rjs
{
    0%
    {
      width: 0%;
    }
    100%
    {
      width: 25%;
    }
} */
/* Skill Bar section end */






/* Prellex section start */
.prellex_content
{
  width: 100%;
  margin-top: 250px;
}

.parallax {
  /* The image used */
  background-image: url("/img/slider1.jpg");


  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.prellex_content .card
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.prellex_content .card
{
    flex-direction: row;
}

.prellex_content .card  .imgbox
{
    position: relative;
    width: 600px;
    height: 800px;
    left: 25px;
    z-index: 1;
    margin-top: 100px;
}

.prellex_content .card  .imgbox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prellex_content .card .detail-box
{
    position: relative;
    right: 100px;
    width: 700px;
    height: 700px;
    background: linear-gradient(rgba(247, 241, 241, 0.5),rgb(12, 7, 43));
    display: flex;
    /* padding: 20px 6px 20px 100px; */
    margin-top: 100px;
}

.prellex_content .card .detail-box::before
{
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    z-index: -1;
}

.detail-box .detail h3
{
    margin-left: 100px;
    margin-top: 50px;
    font-style: italic;
}

.detail-box .detail h1
{
  font-size: 50px;
  margin-left: 110px;
  margin-top: 10px;
  color: #fff;
}

.detail-box .detail p
{
  margin-left: 100px;
  margin-top: 20px;
  text-align:start;
}


 .about_line
{
  position: absolute;
  width: 8px;
  height: 45px;
  left: 100px;
  top: 90px;
 background: #F79D2B;
}

.about_content_1 h2
{
  margin-top: 80px;
  margin-left: 150px;
  color: #fff;
}

.about_content_1 h4
{
  margin-left: 150px;
  margin-top: 5px;
  color: #333;
}

.about_content_1 .fa-user
{
  position: absolute;
  left: 90px;
  top: 280px;
  font-size: 60px;
  color: #F79D2B;
}

.about_content_1 .fa-screwdriver-wrench
{
  position: absolute;
  left: 80px;
  top: 410px;
  font-size: 60px;
  color: #F79D2B;
}

.about_content_1 .fa-gear
{
  position: absolute;
  left: 80px;
  top: 540px;
  font-size: 60px;
  color: #F79D2B;
}

/* Prellex section end */





/* Our Team Membar section start */



.team_member
{
  height: 444px;
  width: 100%;
  background: linear-gradient(rgb(247, 241, 241),rgb(241, 98, 2));
  position: relative;
}

.heading h2
{
  margin-left: 80px;
  font-style: italic;

}

.team_member .heading h1
{
  margin-top: 10px;
  margin-left: 100px;
  font-size: 50px;
  position: relative;
}

.team_member .heading .team_line
{
  position: absolute;
  background: #F79D2B;
  width: 8px;
  height: 50px;
  top: 40px;
  left: 80px;
}


/* Team card section start */

.team_card
{
  display: flex;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.team_container {
  position: relative;
  width: 50%;
  max-width: 300px;
  margin-left:30px;
  margin-top: 50px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.team_overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.team_container:hover .team_overlay {
  opacity: 1;
}


/* Team card section end */


/* Our Team Membar section end */




/* Contect Section Start */

.contect{
  background: url(/img/pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.content_text{
  background: linear-gradient(rgba(255, 255, 255, 0.89),rgba(255, 115, 0, 0.904));
  height: 600px;
  width: 600px;
  margin: 70px 100px 50px 80px;
}

.avter img{
  justify-content: end;
  align-items: end;
  margin-top: 20px;
}
/* Contect Section End */











/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
/* @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} */